.embla {
    overflow: hidden;
  }
  .embla__container {
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%; /* Each slide covers 80% of the viewport */
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }